.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 20px; */
}

.test ul {
  list-style: none;
}

.test p {
  text-align: justify;
}

p button {
  background-color: transparent;
  outline: none;
  border: none;
}

p button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
