.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

p button {
  background-color: transparent;
  outline: none;
  border: none;
}

p button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}
